body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.weather-card.morning {
  background: linear-gradient(to bottom, #ffb347, #ffcc33);
}

.weather-card.afternoon {
  background: linear-gradient(to bottom, #87ceeb, #00bfff);
}

.weather-card.evening {
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}

.weather-card.night {
  background: linear-gradient(to bottom, #2c3e50, #34495e);
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.location {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.search-icon {
  position: absolute;
  right: 0;
  font-size: 24px;
  cursor: pointer;
}

.location-icon {
  position: absolute;
  left: 0;
  font-size: 24px;
  cursor: pointer;
}

.location-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

.location-input-display {
  display: none;
}

.location-input-show-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 5px; /* Adicione um espaço entre o input e a label, se necessário */
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.weather-icon {
  font-size: 48px;
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
